body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: lightgray;
}

* {
    /* border: 1px solid black; */
    margin: 0;
    padding: 0;
}

.ajustes {
    box-sizing: border-box;
    width: 95vw;
    margin: 20px auto;

    font-size: 13pt;

    display: flex;
    justify-content: space-between;
}

.nosemasnombres {
    box-sizing: border-box;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 68%;
    padding: 0.5em 1em;

    border-top: 0.33em solid white;
    border-left: 0.33em solid white;
    border-right: 0.33em solid gray;
    border-bottom: 0.33em solid gray;
}

.ajustes p {
    padding: 0.5em;
}

.ajustes input {
    width: 3em;
    height: 1.5em;
    margin: auto 0;
}

.ajustes button {
    font-size: 13pt;
    width: 29%;
    border: none;
    padding: 0 1em;

    border-top: 0.33em solid white;
    border-left: 0.33em solid white;
    border-right: 0.33em solid gray;
    border-bottom: 0.33em solid gray;
}

.filaAjustes {
    display: flex;
    justify-content: space-between;
}

#tabla {
    box-sizing: border-box;
    margin: 0.6em auto;
    width: 95vw;
    padding: 0.7em;

    border-top: 0.25em solid white;
    border-left: 0.25em solid white;
    border-right: 0.25em solid gray;
    border-bottom: 0.25em solid gray;

    font-size: 18pt;
    font-size: 5.2vw;
}

#tablero {
    margin: 0 auto;

    display: grid;

    box-sizing: border-box;

    border-top: 0.25em solid gray;
    border-left: 0.25em solid gray;
    border-right: 0.25em solid white;
    border-bottom: 0.25em solid white;
    background-color: gray;
}

.casilla {
    background-color: lightgrey;
    box-sizing: border-box;
    aspect-ratio: 1;

    display: flex;
}

.mostrada {
    border: 0.065em solid grey;
}

.tapada {
    border-top: 0.25em solid white;
    border-left: 0.25em solid white;
    border-right: 0.25em solid gray;
    border-bottom: 0.25em solid gray;
}

.casilla img {
    aspect-ratio: 1;
    width: 85%;
}

.tapada img {
    width: 100%;
}

.sprite {
    /* pixelperfect: */
    image-rendering: pixelated;

    margin: auto;

    user-select: none;
}

#mostrador {
    height: 3.2em;

    border-top: 0.25em solid gray;
    border-left: 0.25em solid gray;
    border-right: 0.25em solid white;
    border-bottom: 0.25em solid white;
    background-color: lightgrey;

    margin-bottom: 0.7em;

    display: flex;
    justify-content: space-between;
}

#botonReinicio {
    border-top: 0.3em solid white;
    border-left: 0.3em solid white;
    border-right: 0.3em solid gray;
    border-bottom: 0.3em solid gray;

    justify-content: center;
    aspect-ratio: 1;

    cursor: pointer;
    display: flex;

    margin: 0.3em;
}

#bombasRestantes,
#tiempo {
    width: max-content;

    display: flex;
    height: 2.3em;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0.3em;
    margin-right: 0.3em;

    border-top: 0.15em solid gray;
    border-left: 0.15em solid gray;
    border-right: 0.15em solid white;
    border-bottom: 0.15em solid white;
}

#bombasRestantes img,
#tiempo img {
    width: 1.3em;
}

#botonReinicio img {
    width: 85%;
    margin: auto;
}

@media (min-width: 768px) {
    #tabla {
        font-size: 2.3vw;
        width: max-content;
        /* position: relative; */
    }

    .ajustes {
        margin-top: 0;
        font-size: 14pt;
        width: 30vw;
        position: absolute;
        left: 0.7em;
        flex-direction: column;
    }

    .nosemasnombres{
        width: 100%;
    }

    #cambiar {
        font-size: 14pt;
        margin-top: 1em;
        width: 100%;
        padding: 1em;
    }

    .ajustes input{
        font-size: 12pt;
    }
}